<div>
    <h1>User Information</h1>
</div>
<div class="container">

    <a asp-action="Index"  asp-controller="Student" class="btn btn-success">Students</a>
    <br />

    <a asp-action="Index"  asp-controller="Teacher" class="btn btn-success">Teachers</a>


</div>
