
<div class="container">

    <a asp-action="Students"  asp-controller="Admin" class="btn btn-success">Students</a>

    <br />
    <br />
    <br />

    <a asp-action="Teachers"  asp-controller="Admin" class="btn btn-success">Teachers</a>


</div>
