@model CollegeManagement.Models.ViewModel.StudentViewModel;




<div class="container">
    <h2 class="text-center">REGISTRATION</h2>
    <br />
    <form method="post">
        <div class="row">
            <div class="col-md-6">

                <div class="form-outline">

                    <label>FirstName :</label>
                    <input asp-for="FirstName" class="form-control" placeholder="FirstName" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <br />
                <div class="form-outline">
                    <label>LastName :</label>
                    <input asp-for="LastName" class="form-control" placeholder="LastName" />
                    <span asp-validation-for="LastName" class="text-danger"></span>

                </div>
                <br />
                <div class="form-outline">
                    <label>Email :</label>
                    <input asp-for="EmailId" class="form-control" placeholder="Emailid" />
                    <span asp-validation-for="EmailId" class="text-danger"></span>

                </div>
                <br />
                <div class="form-outline">

                    <label>Address1 :</label>
                    <input asp-for="Address1" class="form-control" placeholder="Address1" />
                    <span asp-validation-for="Address1" class="text-danger"></span>

                </div>
                <br />

                <br />
                @*<br />
            <div class="form-outline">
                <label>Password :</label>
                <input type="password" asp-for="Password" class="form-control" placeholder="Address1" />
                <span asp-validation-for="Password" class="text-danger"></span>

            </div>
        <br />*@

            </div>
            <div class="col-md-6">
               

              
                <div class="form-outline">
                    <label>Address2 :</label>
                    <input asp-for="Address2" class="form-control" placeholder="Address2" />
                    <span asp-validation-for="Address2" class="text-danger"></span>

                </div>
                <br />
                <div class="form-outline">
                    <label>City :  </label>
                    <input asp-for="City" class="form-control" placeholder="City" />
                    <span asp-validation-for="City" class="text-danger"></span>

                </div>
                <br />
                <div class="form-outline">
                    <label>State :  </label>
                    <input asp-for="State" class="form-control" placeholder="State" />
                    <span asp-validation-for="State" class="text-danger"></span>

                </div>
            </div>
        </div>
        <div>

            <input type="submit" class="btn-dark" value="Submit" />
        </div>
    </form>

</div>
